$text-light: white;
$text-important1: rgba(0, 0, 0, 0.85);
$text-important2: rgba(0, 0, 0, 0.75);
$text-important3: rgba(0, 0, 0, 0.6);
$shade: #022c43;
$shade2: #053f5e;
$shade3: #115173;
$highlight: #ffd700;
