@import './ambiant.scss';
@import './navbar.scss';
@import './footer.scss';
@import './meetups.scss';

body {
  color: $text-important1;
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}

a {
  color: $text-important1;
  &:hover {
    color: $highlight;
  }
}

li p {
  margin: 0;
}

.separator {
  margin: 5px;
}

.mainContainer {
  padding: 0 20px;
}
