.list-group-item {
  border: none;
  border-radius: 0 !important;
}

.meetup-list-logo {
  width: 60px;
  margin-right: 20px;
}

.meetup-list-title {
  font-size: 1.5em;
  font-weight: 400;
}

.meetup-list-detail {
  color: $text-important1;
}

.meetup-list-head {
  display: flex;
}

.meetup-list-content {
  padding-top: 10px;
  font-size: 0.9em;
}

.meetup-list-item {
  margin: 0;
  background: $shade2;
  &::after {
    content: ' ';
    width: 50%;
    border-bottom: 1px solid;
    border-color: $text-important2;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
  }
  &:last-child::after {
    border: 0;
  }
}

.meetup-dates {
  background-color: $shade2;
  padding: 10px;
  .list-group-item {
    background: none;
    padding: 0 0 0 10px !important;
    margin: 0;
    button {
      padding: 0;
      color: $text-light;
      font-weight: 300;
      &:focus,
      &:hover {
        color: $highlight;
        text-decoration: none;
      }
    }
  }
}
