.list-group-item {
  border: none;
}

.meetup-list-logo {
  width: 70px;
  margin-right: 20px;
}

.meetup-list-title {
  font-size: 1.5em;
  font-weight: 400;
}

.meetup-list-detail {
  color: $text-important3;
}

.meetup-list-head {
  display: flex;
}

.meetup-list-content {
  padding-top: 10px;
  font-size: 0.9em;
}

.meetup-list-item {
  height: 90px;
  overflow: hidden;
  margin: 0;
  &::after {
    content: ' ';
    width: 50%;
    border-bottom: 1px solid;
    border-color: $text-important3;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
  }
  &:last-child::after {
    border: 0;
  }
}
