header {
  background: $shade;
}

.navbar {
  background: $shade;
  height: 90px;
  .navbar-nav {
    font-size: 1.2em;
  }
}

.navbar-light {
  .navbar-nav .nav-link {
    color: $text-light;
    &:focus,
    &:hover,
    &.active,
    &.show {
      color: $highlight;
    }
  }
}
